<div class="w3-responsive w3-card-4" style="margin-top: 10px;">
  <h3 class="card-header text-center font-weight-bold text-uppercase py-4">Income table</h3>
  <div class="card-body">

    <div  *ngIf="!hideSuccessMessage">
      <div class="col-12">
        <p class="alert alert-success">
          <strong [ngClass] ="FadeOutSuccessMsg()" >You are successfully
            unsubscribe from this email service.</strong>
        </p>
      </div>
    </div>


    <form [formGroup]="incomeForm">
      <button type="button" class="btn btn-success" (click)="addRow()"> Add Row </button>
      <p-table [value]="incomeFormArray.controls" [responsive]="true">
        <ng-template pTemplate="header">
          <tr>
            <ng-container *ngFor="let column of columns">
              <td>{{column}}</td>
            </ng-container>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex" >
          <ng-container formArrayName="incomeArray">
            <tr [formGroupName]="rowIndex" (change)="updateYearlyAmount(rowData)">
              <td  *ngFor="let control of displayedControls" [ngSwitch]="control">
                <div>
                  <div *ngSwitchCase="'recurrence'">
                    <select formControlName="{{control}}">
                      <option *ngFor="let r of recurrence" [ngValue]="r">{{r}}</option>
                    </select>
                  </div>
                  <div *ngSwitchCase="'type'">
                    <input type="text" class="form-control form-control-sm" formControlName="{{control}}" >
                  </div>
                  <div *ngSwitchDefault>
                    <input type="number" class="form-control form-control-sm" formControlName="{{control}}" >
                  </div>
                </div>
              </td>
              <button type="button" class="btn btn-danger" (click)="deleteRow(rowIndex)"> Delete </button>
            </tr>
          </ng-container>
        </ng-template>
      </p-table>
        <div>
          <button type="button" class="ui submit blue button" (click)="onSubmit()"> Save </button>
        </div>
    </form>
  </div>
</div>
